<div class="container py-3">
  <div class="d-flex flex-column-reverse flex-md-row">
    <div class="d-flex flex-column align-items-center justify-content-center gap-3 flex-fill">
      <figure>
        <img src="../../../assets/images/logo.svg" alt="" srcset="">
      </figure>
      <div class="d-flex align-items-center justify-content-center gap-2 flex-wrap">
        Already have an account?
        <button class="btn custom-btn w-mc" (click)="loginNavigate()">Log In</button>
      </div>
    </div>
    <div class="my-2">
      <p-divider layout="vertical"><b>OR</b></p-divider>
    </div>

    <div class="flex-fill">
      <form [formGroup]="signUpForm" (ngSubmit)="createAccount()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="emailHelp" name="name"
            formControlName="name">
          <small *ngIf="formControls.name.errors?.required && formControls.name.touched" class="text-danger">Name is
            required</small>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
            formControlName="email">
          <small *ngIf="formControls.email.errors?.required && formControls.email.touched" class="text-danger">E-mail is
            required</small>
          <small *ngIf="formControls.email.errors?.pattern && formControls.email.touched" class="text-danger">Not a
            correct E-mail</small>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User Name</label>
          <input type="text" class="form-control" id="Username" aria-describedby="emailHelp" name="uname"
            formControlName="uname">
          <small *ngIf="formControls.uname.errors?.required && formControls.uname.touched" class="text-danger">User Name
            is required</small>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" formControlName="password">
          <div class="d-flex flex-column gap-2">
            <small class="text-warning">Password min 6 chars must contain at least 1 number, 1 uppercase and
              1 lowercase</small>
            <small *ngIf="formControls.password.errors?.required && formControls.password.touched" class="text-danger">Password
              is required</small>
            <small *ngIf="formControls.password.errors?.pattern && formControls.password.touched" class="text-danger">Not a
              correct password</small>
          </div>
        </div>

        <div class="cont" formArrayName="formArrayAddress">
          <div class="cont1" *ngFor="let oneAddress of adds.controls; let i = index">
            <div class="mb-3 parentAdd">
              <label for="exampleInputPassword1" *ngIf="i == 0 ; else another" class="form-label">Address</label>
              <ng-template #another>
                <label for="exampleInputPassword1" class="form-label newAdd">Another Address</label>
              </ng-template>
              <div class="d-flex gap-3 align-items-center justify-content-center">
                <input type="text" class="form-control" id="inputPlusIcon{{ i }}" formControlName="{{ i }}" />
                <i class="bi bi-trash pointer" (click)="delSpecAddress(i)"></i>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-center">
            <i class="bi bi-plus-circle fs-3 text-color pointer" title="Add another address"
              (click)="addNewAddress()"></i>
          </div>
        </div>
        <button type="submit" class="btn custom-btn w-100 my-2" [disabled]="signUpForm.invalid">Create Account</button>
      </form>
    </div>
  </div>
</div>
