<div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-1">
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title w-mc">Card title</h5>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-4 align-items-center d-flex">
                    <img src="../../../../assets/images/pic.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title w-mc">Card title</h5>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-4 align-items-center d-flex">
                    <img src="../../../../assets/images/pic.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title w-mc">Card title</h5>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-4 align-items-center d-flex">
                    <img src="../../../../assets/images/pic.png" class="img-fluid rounded-start" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>