<div class="productsHome">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/banner1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/banner1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/banner1.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container py-3">
        <div class="row d-flex gap-3 flex-wrap flex-xl-nowrap justify-content-center">
            <div class="flex-grow-1 col-9">
                <app-product-list></app-product-list>
            </div>
            <div class="flex-shrink-1 col-xl-3 col-12">
                <app-product-view></app-product-view>
            </div>
        </div>
    </div>
</div>