<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 py-3" *ngIf="favItems.length > 0 ;else nofav">
        <app-product-item *ngFor="let product of favItems" [passProduct]="product"></app-product-item>
    </div>
    <ng-template #nofav>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <figure>
                <img src="../../../assets/images/nofav.png" alt="" srcset="">
            </figure>
        </div>
    </ng-template>
</div>