<div class="container py-3">
    <form [formGroup]="login" (ngSubmit)="submitValue()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">E-mail</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userName" formControlName="userName">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" formControlName="password">
        </div>
        <button type="submit" class="btn custom-btn w-mc">Log In</button>
    </form>
</div>
