<div class="container-fluid border-top custom-bg py-3">
    <div class="d-flex gap-3">
        <div class="flex-fill d-flex flex-column gap-3">
            <h5 class="pointer text-color">Language</h5>
            <ul class="langList d-flex flex-column gap-3">
                <li class="pointer listStNo">English</li>
                <li class="pointer">Arabic</li>
            </ul>
        </div>
        <div class="flex-fill">
            <h5 class="pointer text-color">Categories</h5>
            <div class="langList d-flex flex-column gap-3 listStNo">
                <span class="pointer">Mobiles</span>
                <span class="pointer">Gaming</span>
                <span class="pointer">Laptops</span>
            </div>
        </div>
        <div class="d-flex flex-column text-color gap-3 flex-fill">
            <h5 class="m-0">Follow us</h5>
            <div class="social d-flex gap-3">
                <i class="bi bi-facebook pointer fs-4"></i>
                <i class="bi bi-instagram pointer fs-4"></i>
                <i class="bi bi-twitter-x pointer fs-4"></i>
            </div>
            <button class="btn btn-block custom-bg text-color w-75 w-mc">Contact Us</button>
        </div>
    </div>
</div>