/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}
.active{
    font-weight: bold;
}
.custom-bg {
    background-color: rgba(48, 44, 162, 0.08);
}

.text-color {
    color: #302CA2;
}

.w-mc {
    width: max-content;
}