/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'cairo';
    src: url('assets/fonts/Cairo-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'cairo';
}

body {
    background-color: #F6F6F6 !important;
}

.pointer {
    cursor: pointer;
}

.active {
    font-weight: bold;
}

.custom-bg,
.custom-bg:hover {
    background-color: rgba(48, 44, 162, 0.08);
}

.custom-btn,
.custom-btn:hover,
.custom-btn:active {
    background-color: #302ca2 !important;
    color: white !important;
    border: #302ca2 !important;
}

.text-color {
    color: #302CA2;
}

.border-color {
    border-color: #302CA2;

    &:hover,
    :active {
        background-color: #302CA2 !important;
        border-color: #302CA2 !important;
        color: white !important;
    }
}

.w-mc {
    width: max-content;
}

.w-fit {
    width: fit-content;
}

//product item 

svg.p-icon.p-rating-icon.p-rating-icon-active {
    color: rgb(255, 193, 7) !important;
}

.p-rating.p-readonly {
    flex-direction: row-reverse;
}