<div class="container">
  <div *ngIf="products.length !=0; else empty">
    <app-shoppin-item *ngFor="let product of products;" [itemCart]="product"></app-shoppin-item>
    <div class="d-flex align-items-center justify-content-center mb-4">
      <div class="flex-fill">
        Total Price: <span dir="rtl">{{total | egy}}</span>
      </div>
      <div class="w-full md:w-2">
        <p-divider layout="vertical"><b>OR</b></p-divider>
      </div>
      <div class="d-flex flex-column flex-fill gap-2 py-2">
        <button class="btn custom-btn" (click)="placeOrder()">
          Checkout
        </button>
        <button class="btn btn-danger" (click)="clearAll()">
          Clear All
        </button>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="d-flex align-items-center justify-content-center vh-100">
      <figure>
        <img src="../../../assets/images/empty.png" alt="Empty" srcset="">
      </figure>
    </div>
  </ng-template>
</div>
